.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #fff, rgb(185, 182, 182), #fff);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom;
}
