legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}

label[for] {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    padding: 0.3em 0.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

fieldset > fieldset {
    display: inline;
}

label[for="outro"] {
    display: inline;
}

input[name="outro-assunto"] {
    width: auto;
    display: none;
}

input:focus,
textarea:focus{
    background-color: rgba(255, 255, 210, 0.8)
}

input[type="text"]:invalid,
input[type="email"]:invalid{
    box-shadow: 0 0 2px red;
}

button{
    display: block;
    margin-left: auto;
    width: 20%;
    padding: 0.8rem;
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    font-size: .2.9em;
}

button:focus,
button:hover{
    background-color: #8C1D3D;
}

input[value="outro"]:checked + input[name="outro-assunto"]{
    display: inline;
}

label[for="nome"] {
    position: relative;
}

label[for="email"] {
    position: relative;
}

label[for="nome"]:after,
label[for="email"]:after {
    content: "";
    position: absolute;
    background-size: 50% 50%;
    top: 100%;
    background-position: center;
    width: 2em;
    height: 2em;
    left: 0;
    background-repeat: no-repeat;
    background-color: gray;
}

#nome,
#email  {
    width: calc(100% - 2em);
    position: relative;
    left: 2em; 
}

label[for="nome"]:after{
    background-image: url(../imagens/usuario.png);
}

label[for="email"]:after{
    background-image: url(../imagens/email.png);
}