body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    color: #000;
}

.subtitulo-principal{
    color: rgba(255, 255, 255, 0.9);
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    text-shadow: 2px 2px #000;
}

.titulo-principal {
    font-size: 300%;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 1.25rem;
    border-bottom: .5rem solid #000;
}

.subtitulo-texto {
    font-size: 30px;
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 20px 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.rodape-pagina {
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8) 
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    text-indent: -99999px;
}

.icones-redes-sociais a:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    text-indent: 0px;
    top: 100%;
    right: 0;
    background-color: #000;
    width: 280%;
    padding: 1rem;
    margin-top: 1rem;
}

.icones-redes-sociais a:hover::before {
    height: 1rem;
    width: 1rem;
    position: absolute;
    content: ' ';
    background-color: black;
    left: 0;
    top: 0;
    transform: translateY(2rem) translateX(0.7rem) rotate(45deg);
    margin-top: 1rem;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    flex-grow: 1;
}

.minha-foto{
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.navegacao-site {
    padding-top: calc(300px + 1em);
    top: 300px;
    border-left: 10px solid black;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: auto;
}

main a:hover {
    color: red;
}

.navegacao-site a:hover {
    text-shadow: 0 0 2px violet;
}